* {
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding-top: 120px;
  overflow: hidden;
  font-size: 40pt;
}

input {
  height: 50px;
  width: 100%;
  font-size: 40px;
  text-align: right;
  font-weight: lighter;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  height: 300px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

}

button {
  min-width: 40px;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  font-size: 20px;
  transition: background-color 100ms linear;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background-color: rgb(150, 23, 23);
  color: white;
}

.pressed {
  background-color: rgb(150, 23, 23);
  color: white;
}


