@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32)
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 425px;
  margin: 0 auto;
  padding-top: 120px;
  overflow: hidden;
  font-size: 40pt;
}

input {
  height: 50px;
  width: 100%;
  font-size: 26px;
  text-align: right;
  font-weight: lighter;
  outline: none;
  border-top: solid thin rgb(26, 111, 167);
  border-left: solid rgb(26, 111, 167);
  border-right: solid rgb(26, 111, 167);
  margin: auto;
  font-family: 'Orbitron', sans-serif;
  background-color: whitesmoke;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  height: 300px;
}

button {
  min-width: 40px;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  font-size: 20px;
  background-color: rgb(48, 47, 47);
  color: white;
  transition: background-color 100ms linear;
  border: solid thin rgb(26, 111, 167);
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

button:active {
  background-color: rgb(100, 187, 245);
}

.pressed {
  background-color: rgb(100, 187, 245);
}


